<div class="flex items-center justify-center">
  <div class="flex items-center w-4/6">
    <%= @product.title %>

    <% @stats.each do |k, v| %>
      <%= "#{k} #{v}" %>
    <% end %>

    <% if @cart_products.include?(@product) %>
      <%= button_to "Удалить из корзины", product_remove_from_cart_path(@product.id), method: :delete %>
    <% else %>
      <%= button_to "Добавить в корзину", product_add_to_cart_path(@product) %>
    <% end %>
  </div>
</div>
